*
!.gitignore
!.gitmodules
!README.md

!CMakeLists.txt

!external/
!external/**

!10-mnist/
!10-mnist/**
!11-mnist-refactor/
!11-mnist-refactor/**


!20-raytracing/
!20-raytracing/**



!83-ViT/
!83-ViT/**
!102-ResNet-JongSeok

